<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <script src="angular.min.js"></script>
    <script src="edit.js"></script>
    <script src="ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Profile</title>
</head>
<body style="padding-top: 65px;">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Programmable Box Joint Jig</a>
            </div>
        </div>
    </nav>

    <div class="container" ng-controller="EditProfileController as editCtrl">

        <h2>Edit Profile</h2>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{editCtrl.name}}</h3>
            </div>
            <div class="panel-body">
                <textarea rows="10" cols="20" class="form-control" ng-model="editCtrl.data"></textarea>
                <p>
                    One finger or slot is defined on each line, starting with the left side.
                    A line starting with "F" is a finger, and "S" is a slot.
                    Following the F or S is a space, and then the width of the finger or slot (in inches).
                </p>
            </div>
        </div>

        <p>
            <button type="button" class="btn btn-primary" ng-click="editCtrl.save()">
                <span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Save
            </button>
            
            <a href="profiles.html" class="btn btn-primary">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancel
            </a>
        </p>

    </div>
</body>
</html>