<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <script src="angular.min.js"></script>
    <script src="home.js"></script>
    <script src="ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <meta charset="utf-8" />
    <title>PBJJ</title>
</head>
<body style="padding-top: 65px;">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Programmable Box Joint Jig</a>
            </div>
        </div>
    </nav>

    <div class="container" ng-controller="HomeController as home">

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="text-muted">Status:</span>
                {{home.status.StatusMessage}}
            </div>
            <div class="panel-body">
                <svg id="boxJointVis" width="100%" height="5em" ng-attr-view_box="{{home.drawingViewBox()}}">
                    <rect ng-repeat="box in home.boxes" fill="#2980b9"
                          ng-attr-x="{{box.x}}" ng-attr-y="{{box.y}}" ng-attr-width="{{box.width}}" ng-attr-height="{{box.height}}"/>
                    <rect fill="#2980b9" x="0" y="0" height="0.25" ng-attr-width="{{home.getTotalWidth()}}"/>

                    <rect fill="#707070" stroke="#3A3A3A" stroke-width="0.02"
                          ng-attr-x="{{home.status.CurrentPositionInches - home.status.KerfWidthInches}}"
                          y="0.25" height="0.75" ng-attr-width="{{home.status.KerfWidthInches}}"/>
                </svg>

                <div class="text-muted">
                    Position: {{home.status.CurrentPositionInches | number : 3}} in
                    <span class="pull-right">
                        {{home.status.OnTable ? 'On Table' : 'Off Table'}}
                    </span>
                </div>
                <div class="text-muted">
                    Kerf: {{home.status.KerfWidthInches | number : 3}} in
                </div>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" ng-repeat="warning in home.status.Warnings">
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;{{warning}}
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Profile
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-9">{{home.status.ProfileName}}</div>
                    <div class="col-xs-3 text-right">
                        <a href="profiles.html" class="btn btn-default btn-sm" ng-disabled="home.status.ProgramRunning">Change...</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            Mode: {{home.status.UsePrimaryProfile ? 'Primary' : 'Reverse'}}
                            <button ng-click="home.toggleProfileMode()" ng-disabled="home.status.ProgramRunning" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;Switch Mode
                            </button>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary" ng-click="home.runProgram()"
                                ng-disabled="!home.canRunProgram()">
                            <span class="glyphicon glyphicon-play"></span>
                            Start Cutting
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <a href="profiles.html">
                        <span class="glyphicon glyphicon-th-list"></span> Profiles
                    </a>
                </p>
                <p>
                    <a href="config.html">
                        <span class="glyphicon glyphicon-cog"></span> Configuration
                    </a>
                </p>
            </div>
        </div>

    </div>
</body>
</html>