<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <script src="angular.min.js"></script>
    <script src="profiles.js"></script>
    <script src="ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <meta charset="utf-8" />
    <title>Profiles</title>
</head>
<body style="padding-top: 65px;">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Programmable Box Joint Jig</a>
            </div>
        </div>
    </nav>

    <div class="container" ng-controller="ProfilesController as profilesCtrl">

        <h2>Profiles</h2>

        <div ng-repeat="profile in profilesCtrl.profiles">
            <div ng-click="profile.isSelected = !profile.isSelected">
                <span ng-if="!profile.isRenaming">{{profile.name}}</span>
                <span ng-if="profile.isRenaming">
                    <input type="text" ng-model="profile.newName" />
                    <button type="button" ng-click="profilesCtrl.rename(profile.name, profile.newName)">OK</button>
                    <button type="button" ng-click="(profile.isRenaming = false)">Cancel</button>
                </span>
            </div>
            <div ng-if="profile.isSelected">
                <button type="button" ng-click="profilesCtrl.loadProfile(profile.name)">Load</button>
                <button type="button" ng-click="profilesCtrl.editProfile(profile.name)">Edit</button>
                <button type="button" ng-click="(profile.isRenaming = true)">Rename</button>
                <button type="button" ng-click="profile.isDeleting = true">Delete</button>
                <div ng-if="profile.isDeleting == true">
                    Confirm Delete?
                    <button type="button" ng-click="profilesCtrl.deleteProfile(profile.name)">Delete</button>
                    <button type="button" ng-click="profile.isDeleting = false">Cancel</button>
                </div>
            </div>
        </div>


        <hr />

        <p>
            <a href="new.html">New Profile...</a>
        </p>

    </div>
</body>
</html>