<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <script src="angular.min.js"></script>
    <script src="profiles.js"></script>
    <script src="ui-bootstrap-tpls-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <meta charset="utf-8" />
    <title>Profiles</title>
</head>
<body style="padding-top: 65px;">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Programmable Box Joint Jig</a>
            </div>
        </div>
    </nav>

    <div class="container" ng-controller="ProfilesController as profilesCtrl">

        <h2>Profiles</h2>

        <div ng-repeat="profile in profilesCtrl.profiles" class="well well-sm" style="cursor: pointer;" ng-click="profilesCtrl.profileClick($index)">

            <div class="row">
                <div class="col-xs-1">
                    <span class="glyphicon glyphicon-file"></span>
                </div>
                <div class="col-xs-11">
                    <div>
                        <span ng-if="!profile.isRenaming">
                            <strong>{{profile.name}}</strong>
                        </span>
                        <span ng-if="profile.isRenaming" class="form-inline">
                            <input type="text" ng-model="profile.newName" class="form-control" />
                            <button type="button" class="btn btn-sm btn-success" ng-click="profilesCtrl.rename(profile.name, profile.newName)">
                                <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;OK
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="(profile.isRenaming = false)">
                                Cancel
                            </button>
                        </span>
                    </div>
                    <div ng-if="profile.isSelected && !profile.isRenaming">
                        <p>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="profilesCtrl.loadProfile(profile.name)">
                                <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Load
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="profilesCtrl.editProfile(profile.name)">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="(profile.isRenaming = true)">
                                <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;Rename
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="profile.isDeleting = true">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete
                            </button>
                        </p>
                        <p ng-if="profile.isDeleting == true">
                            Confirm Delete?
                            <button type="button" class="btn btn-sm btn-danger" ng-click="profilesCtrl.deleteProfile(profile.name)">
                                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" ng-click="profile.isDeleting = false">
                                Cancel
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <hr />

        <p>
            <a href="new.html">New Profile...</a>
        </p>

    </div>
</body>
</html>